body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.countdown-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.countdown {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
    display: flex;
    justify-content: center;
}

.countdown-unit {
    margin: 0 10px;
    text-align: center;
}

.unit {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.label {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
    color: #555;
}

h1 {
    color: #333;
}

@media (min-width: 768px) {
    .countdown-container {
        width: 50%;
    }
}
